Hi, it seems you have requested to reset your password!

You have requested to reset your password.
Please follow this link:
<%= "https://app.orderbly.co/password_resets/#{@user.reset_password_token}" %>
Reset password URL is valid within 24 hours.

Have a nice day!