<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <!--[if !mso]><!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!--<![endif]-->
    <title></title>
    <!--[if !mso]><!-->
    <!--<![endif]-->
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }

      table,
      td,
      tr {
        vertical-align: top;
        border-collapse: collapse;
      }

      * {
        line-height: inherit;
      }

      a[x-apple-data-detectors=true] {
        color: inherit !important;
        text-decoration: none !important;
      }
    </style>
    <style id="media-query" type="text/css">
      @media (max-width: 660px) {

        .block-grid,
        .col {
          min-width: 320px !important;
          max-width: 100% !important;
          display: block !important;
        }

        .block-grid {
          width: 100% !important;
        }

        .col {
          width: 100% !important;
        }

        .col>div {
          margin: 0 auto;
        }

        img.fullwidth,
        img.fullwidthOnMobile {
          max-width: 100% !important;
        }

        .no-stack .col {
          min-width: 0 !important;
          display: table-cell !important;
        }

        .no-stack.two-up .col {
          width: 50% !important;
        }

        .no-stack .col.num4 {
          width: 33% !important;
        }

        .no-stack .col.num8 {
          width: 66% !important;
        }

        .no-stack .col.num4 {
          width: 33% !important;
        }

        .no-stack .col.num3 {
          width: 25% !important;
        }

        .no-stack .col.num6 {
          width: 50% !important;
        }

        .no-stack .col.num9 {
          width: 75% !important;
        }

        .video-block {
          max-width: none !important;
        }

        .mobile_hide {
          min-height: 0px;
          max-height: 0px;
          max-width: 0px;
          display: none;
          overflow: hidden;
          font-size: 0px;
        }

        .desktop_hide {
          display: block !important;
          max-height: none !important;
        }
      }
    </style>
  </head>
  <body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #f8f8f9;">
    <!--[if IE]><div class="ie-browser"><![endif]-->
    <table bgcolor="#f8f8f9" cellpadding="0" cellspacing="0" class="nl-container" role="presentation" style="table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f8f8f9; width: 100%;" valign="top" width="100%">
      <tbody>
        <tr style="vertical-align: top;" valign="top">
          <td style="word-break: break-word; vertical-align: top;" valign="top">
            <!--[if (mso)|(IE)]>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" style="background-color:#f8f8f9"><![endif]-->
                  <div style="background-color:#2dce89;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #2dce89;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#2dce89;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#2dce89;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#2dce89">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#2dce89;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                                                <!--<![endif]-->
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 4px solid #2dce89; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table><![endif]-->
                      </div>
                    </div>
                  </div>

                  <div style="background-color:#fff;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #fff;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#fff;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#fff;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#fff">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#fff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                                                <!--<![endif]-->
                                                <div align="center" class="img-container center autowidth" style="padding-right: 0px;padding-left: 0px;">
                                                  <!--[if mso]>
                                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tr style="line-height:0px">
                                                      <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                                        <![endif]-->
                                                        <div style="font-size:1px;height:12px"></div>
                                                        <img align="center" alt="Orderbly logo" border="0" class="center autowidth" src="https://pantryapp.s3.eu-west-1.amazonaws.com/rGbaZYBjnq5271uYSnHXWmx1" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: 100%; border: 0; width: auto; max-height: 70px; display: block;" title="Orderbly logo" width="149"/>
                                                        <div style="font-size:1px;height:15px"> </div>
                                                        <!--[if mso]>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  <![endif]-->
                                                </div>
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>

                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #fff;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#fff;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#fff">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#fff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                                                <!--<![endif]-->
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 20px; padding-right: 0px; padding-bottom: 12px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <div align="center" class="img-container center fixedwidth" style="padding-right: 40px;padding-left: 40px;">
                                                  <!--[if mso]>
                                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tr style="line-height:0px">
                                                      <td style="padding-right: 40px;padding-left: 40px;" align="center">
                                                        <![endif]-->
                                                        <img align="center" alt="Your order has been delivered" border="0" class="center fixedwidth" src="https://pantryapp.s3.eu-west-1.amazonaws.com/zgWCTkbdXxGic5Cr34yoKGj8" style="text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: 100%; width: auto; max-height: 300px; display: block;" title="Your order has been delivered" width="352"/>
                                                        <!--[if mso]>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  <![endif]-->
                                                </div>

                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 25px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;">
                                                        <div style="line-height: 1.2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;">
                                                          <p style="font-size: 30px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 36px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="font-size: 30px; color: #32325d; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><strong>Your order has been delivered</strong></span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;">
                                                        <div style="line-height: 1.5; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 18px;">
                                                          <p style="font-size: 15px; line-height: 1.5; text-align: center; word-break: break-word; font-family: inherit; mso-line-height-alt: 23px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #525f7f; font-size: 15px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodati mat tempor incididunt ut labore et dolore magna aliqua.</span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->

                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table><![endif]-->
                      </div>
                    </div>
                  </div>

                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f8f8f9;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#f8f8f9;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#f8f8f9">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#f8f8f9;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                                              <!--<![endif]-->
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 4px solid #2dce89; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>

                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #fff;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#fff;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#fff">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#fff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 30px; padding-left: 30px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 30px; padding-left: 30px;">
                                                <!--<![endif]-->
                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 0px; padding-left: 0px; padding-top: 25px; padding-bottom: 25px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:25px;padding-right:0px;padding-bottom:25px;padding-left:0px;">
                                                        <div style="line-height: 1.5; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 18px;">
                                                          <p style="font-size: 14px; line-height: 1.5; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 21px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #525f7f; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                              <strong><span style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">ORDER NUMBER</span></strong>
                                                            </span>
                                                          </p>

                                                          <p style="font-size: 20px; line-height: 1.5; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 30px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="font-size: 20px; color: #32325d; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><strong><%= @order['order_number']%></strong></span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->
                              
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #F0F0F0; width: 100%;" valign="top" width="100%">
                                                          <thead>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="font-weight: bold; word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 60%;" valign="top">
                                                                <span style="color: #525f7f;">
                                                                  <strong><span style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; width: 60%;">PRODUCT</span></strong>
                                                                </span>
                                                              </td>
                                                              <td style="font-weight: bold; word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 60%;" valign="top">
                                                                <span style="color: #525f7f;">
                                                                  <strong><span style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">ORDERED</span></strong>
                                                                </span>
                                                              </td>
                                                              <td style="font-weight: bold; word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 60%;" valign="top">
                                                                <span style="color: #525f7f;">
                                                                  <strong><span style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">RECEIVED</span></strong>
                                                                </span>
                                                              </td>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            <% @order['order_items'].each do |oi| %>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; width: 60%;" valign="top"><span><%= oi['product_title'] %></span></td>
                                                              <td style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;" valign="top"><span> <%= oi['quantity'] %> </span></td>
                                                              <td style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;" valign="top"><span><%= oi['received_amount'] %></span></td>
                                                            </tr>
                                                            <% end %>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>


                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #fff;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#fff;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#fff">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#fff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 30px; padding-left: 30px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 30px; padding-left: 30px;">
                                                <!--<![endif]-->
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #F0F0F0; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 0px; padding-left: 0px; padding-top: 25px; padding-bottom: 15px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:25px;padding-right:0px;padding-bottom:15px;padding-left:0px;">
                                                        <div style="line-height: 1.5; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;">
                                                          <p style="font-size: 14px; line-height: 1.5; word-break: break-word; text-align: left; mso-line-height-alt: 21px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #525f7f;"><strong><span style="font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">ORDER DETAILS</span></strong></span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>


                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #fff;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#fff;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#fff">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#fff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 30px; padding-left: 30px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 30px; padding-left: 30px;">
                                              <!--<![endif]-->
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 25px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #F0F0F0; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 0px; padding-left: 0px; padding-top: 25px; padding-bottom: 15px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:25px;padding-right:0px;padding-bottom:15px;padding-left:0px;">
                                                        <div style="line-height: 1.5; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;">
                                                          <p style="font-size: 14px; line-height: 1.5; word-break: break-word; text-align: left; mso-line-height-alt: 21px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #525f7f; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><strong><span style="font-size: 12px;">SHIPPING INFORMATION</span></strong></span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.8;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                                        <div style="line-height: 1.8; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 22px;">
                                                          <p style="font-size: 13px; line-height: 1.8; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 23px; mso-ansi-font-size: 14px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #32325d; font-size: 13px; mso-ansi-font-size: 14px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><%= @order['customer']['customer_address']['address_one'] %></span>
                                                          </p>

                                                          <p style="font-size: 13px; line-height: 1.8; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 23px; mso-ansi-font-size: 14px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #32325d; font-size: 13px; mso-ansi-font-size: 14px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><%= @order['customer']['customer_address']['suburb'] %></span>
                                                          </p>

                                                          <p style="font-size: 13px; line-height: 1.8; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 23px; mso-ansi-font-size: 14px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #32325d; font-size: 13px; mso-ansi-font-size: 14px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><%= @order['customer']['customer_address']['city'] %></span>
                                                          </p>

                                                          <p style="font-size: 13px; line-height: 1.8; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 23px; mso-ansi-font-size: 14px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #32325d; font-size: 13px; mso-ansi-font-size: 14px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;"><%= @order['customer']['customer_address']['postal_code'] %></span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->

                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 25px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #F0F0F0; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 0px; padding-left: 0px; padding-top: 25px; padding-bottom: 0px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:25px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                                        <div style="line-height: 1.5; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 18px;">
                                                          <p style="font-size: 13px; line-height: 1.5; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 20px; mso-ansi-font-size: 14px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #525f7f; font-size: 13px; mso-ansi-font-size: 14px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">Please note that the payment is non-refundable in the case of cancellation. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>

                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #fff;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#fff;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#fff">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#fff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                                                <!--<![endif]-->
                                                <div align="center" class="button-container" style="padding-top:40px;padding-right:10px;padding-bottom:0px;padding-left:10px;">
                                                  <!--[if mso]>
                                                  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                                    <tr>
                                                      <td style="padding-top: 25px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px" align="center">
                                                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://app.orderbly.co/purchases" style="height:46.5pt; width:158.25pt; v-text-anchor:middle;" arcsize="6%" stroke="false" fillcolor="#2dce89">
                                                          <w:anchorlock/><v:textbox inset="0,0,0,0">
                                                            <center style="color:#ffffff; font-family:Tahoma, sans-serif; font-size:16px"><![endif]-->
                                                              <a src="https://app.orderbly.co/purchases" target="_blank" style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#2dce89;border-radius:0.25rem;-webkit-border-radius:0.25rem;-moz-border-radius:0.25rem;width:auto; width:auto;;border-top:1px solid #2dce89;border-right:1px solid #2dce89;border-bottom:1px solid #2dce89;border-left:1px solid #2dce89;padding-top:15px;padding-bottom:15px;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all;">  
                                                                <span style="padding-left:30px;padding-right:30px;font-size:16px;display:inline-block;">
                                                                  <span style="font-size: 16px; margin: 0; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong>View Order</strong></span>
                                                                </span>
                                                              </a>
                                                              <!--[if mso]>
                                                            </center>
                                                          </v:textbox>
                                                        </v:roundrect>
                                                      </td>
                                                    </tr>
                                                  </table><![endif]-->
                                                </div>

                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 20px; padding-right: 0px; padding-bottom: 12px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>

                  <div style="background-color:transparent;">
                    <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #2b303a;">
                      <div style="border-collapse: collapse;display: table;width: 100%;background-color:#2b303a;">
                        <!--[if (mso)|(IE)]>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" border="0" style="width:640px">
                                <tr class="layout-full-width" style="background-color:#32325d">
                                  <![endif]-->
                                  <!--[if (mso)|(IE)]>
                                  <td align="center" width="640" style="background-color:#2b303a;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;">
                                          <![endif]-->
                                          <div class="col num12" style="min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;">
                                            <div style="width:100% !important;">
                                              <!--[if (!mso)&(!IE)]><!-->
                                              <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                                                <!--<![endif]-->
                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 4px solid #2dce89; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <table cellpadding="0" cellspacing="0" class="social_icons" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td style="word-break: break-word; vertical-align: top; padding-top: 25px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;" valign="top">
                                                        <table align="center" cellpadding="0" cellspacing="0" class="social_table" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-tspace: 0; mso-table-rspace: 0; mso-table-bspace: 0; mso-table-lspace: 0;" valign="top">
                                                          <tbody>
                                                            <tr align="center" style="vertical-align: top; display: inline-block; text-align: center;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 5px; padding-left: 5px;" valign="top">
                                                                <a href="https://www.facebook.com/orderbly" target="_blank">
                                                                  <img alt="Facebook" height="32" src="https://d2fi4ri5dhpqd1.cloudfront.net/public/resources/social-networks-icon-sets/t-outline-circle-white/facebook@2x.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="Facebook" width="32"/>
                                                                </a>
                                                              </td>

                                                              <td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 5px; padding-left: 5px;" valign="top">
                                                                <a href="https://www.instagram.com/orderbly/" target="_blank">
                                                                  <img alt="Instagram" height="32" src="https://d2fi4ri5dhpqd1.cloudfront.net/public/resources/social-networks-icon-sets/t-outline-circle-white/instagram@2x.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="Instagram" width="32"/>
                                                                </a>
                                                              </td>

                                                              <td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 5px; padding-left: 5px;" valign="top">
                                                                <a href="https://www.linkedin.com/" target="_blank">
                                                                  <%# <img alt="LinkedIn" height="32" src="https://d2fi4ri5dhpqd1.cloudfront.net/public/resources/social-networks-icon-sets/t-outline-circle-white/linkedin@2x.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="LinkedIn" width="32"/> %>
                                                                </a>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 40px; padding-left: 40px; padding-top: 15px; padding-bottom: 10px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:15px;padding-right:40px;padding-bottom:10px;padding-left:40px;">
                                                        <div style="line-height: 1.5; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 18px;">
                                                          <p style="font-size: 12px; line-height: 1.5; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 18px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #95979c; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">Etiam quis tempus ex. Sed vitae ipsum suscipit, ultricies odio vitae, suscipit massa. Sed tempus ipsum eget diam aliquam maximus. Cras accumsan urna vel rutrum lobortis. Maecenas tristique purus vel ex tempor consequat. Curabitur dui massa, congue sed sem at, rhoncus imperdiet sem. Fusce ac orci fermentum, malesuada dolor a, cursus augue. Quisque porttitor sapien arcu, quis iaculis nisi faucibus eget. Vestibulum eu velit rhoncus, aliquam ante eget, tristique diam dui massa, congue sed sem at, rhoncus usce ac orci fermentum,.</span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->

                                                <table border="0" cellpadding="0" cellspacing="0" class="divider" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top" width="100%">
                                                  <tbody>
                                                    <tr style="vertical-align: top;" valign="top">
                                                      <td class="divider_inner" style="word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 15px; padding-right: 40px; padding-bottom: 10px; padding-left: 40px;" valign="top">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" role="presentation" style="table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #555961; width: 100%;" valign="top" width="100%">
                                                          <tbody>
                                                            <tr style="vertical-align: top;" valign="top">
                                                              <td style="word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" valign="top"><span></span></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <!--[if mso]>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                  <tr>
                                                    <td style="padding-right: 40px; padding-left: 40px; padding-top: 20px; padding-bottom: 20px; font-family: Tahoma, sans-serif">
                                                      <![endif]-->
                                                      <div style="color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:20px;padding-right:40px;padding-bottom:20px;padding-left:40px;">
                                                        <div style="line-height: 1.2; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 14px;">
                                                          <p style="font-size: 12px; line-height: 1.2; word-break: break-word; text-align: left; font-family: inherit; mso-line-height-alt: 14px; margin: 0; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">
                                                            <span style="color: #95979c; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;">Orderbly Copyright © 2020</span>
                                                          </p>
                                                        </div>
                                                      </div>
                                                      <!--[if mso]>
                                                    </td>
                                                  </tr>
                                                </table>
                                                <![endif]-->
                                                <!--[if (!mso)&(!IE)]><!-->
                                              </div>
                                              <!--<![endif]-->
                                            </div>
                                          </div>
                                          <!--[if (mso)|(IE)]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <![endif]-->
                      </div>
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
                </td>
              </tr>
            </table><![endif]-->
          </td>
        </tr>
      </tbody>
    </table>
    <!--[if (IE)]></div><![endif]-->
  </body>
</html>